version: "3"

services:
  postgres:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
      POSTGRES_DB: codersboard-db
    volumes:
      - database-data:/var/lib/postgresql/data/
volumes:
  database-data:
